# IntelliJ IDEA
.idea/
*.iml

# Java
target/
bin/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
out/
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# OS files
.DS_Store
Thumbs.db